In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import datetime as dt

df = pd.read_csv("hrmlog_text.txt",delimiter=":",header=None)
df.head()

C:\Users\kjjoh\AppData\Local\Temp\ipykernel_31880\1909129249.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("hrmlog_text.txt",delimiter=":",header=None,parse_dates=[0])

            0   1  2
0  1690947095  82  0
1  1690947097  67  0
2  1690947098  77  0
3  1690947098  75  0
4  1690947099  77  0